// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.li-task {
  list-style: none;
  padding: 5px;
  background: #f5f5f5;
  border-radius: 5px;
  margin: 0 0 5px;
}
.container-stages{
  border: 1px solid #2c3e50;
  border-radius: 0px;
  padding: 10px;
  min-height: 400px;
  display: inline-block;
  vertical-align: top;
}
.li-task:hover {
  /*padding-bottom: 55px;
  /*background: url('http://www.cufonfonts.com/makeImage.php?width=650&id=1026&size=35&d=y&text=Drop%20Here') center bottom no-repeat #ccc;*/
  background: #666;
  color:#fff;
}
/*#todo:hover li {
  background: #fff;
}*/

#board div h3 {display: inline-block; margin: 1%; text-align: center;}